.item {
    color: green;
    border:3px solid #439d8b;
    padding:10px;
    margin: 7px;

}

.item img {
    width: 20%;
    border-radius: 40px;
}
.item span{
    color: black;
}
p {
    color: black;
}
.likes {
    text-align: right;
    margin-top: 20px;

}
.likes span{
    background-color: white;
    padding: 3px;

    text-emphasis-color: #030a0a;

}
.pages {
    color: black;
    font-size: 20px;
}
.pages:hover {
    background-color: #439d8b;
}
.pages:visited {
    background-color: #439d8b;
}
