/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  /* background-color: snow; */
}
div{
  padding: 5px;
}
.app-wrapper{
  display: grid;
  padding: 10px;
  margin: 5% 10%;
  grid-template-areas:
  "h h " 
  "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  background-color: rgb(165, 182, 137);
}
.header {
  grid-area: h;
  background-color: cadetblue;
}
.header img{
  width: 30px;
}
.nav {
  grid-area: n;
  background-color: cyan;
}
.content {
  grid-area: c;
  background-color: cornflowerblue;
}